<!-- CTA Section -->
<section class="cta">
  <div class="container">
    <div class="cta-content">
      <span class="cta-line">
            <img src="assets/logo/logo-white.png" alt="Reïki & sens">
          </span>
      <h2 class="cta-title">Prêt à débuter votre cheminement ?</h2>
      <p class="cta-description">
        Réservez dès maintenant votre séance de Reiki et retrouvez l'harmonie
      </p>
      <div class="cta-actions">
        <a href="#prestations" class="btn btn-primary btn-lg" (click)="onScrollToSection('prestations', $event)">Réserver une séance</a>
        <a href="/contact" class="btn btn-outline btn-lg">Poser une question</a>
      </div>
    </div>
  </div>
</section>
