<div class="carousel-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="carousel-wrapper">
    <div class="testimonial-card" [class.transitioning]="isTransitioning">
      <div class="testimonial-content">
        <div class="quote-icon">"</div>
        <p class="testimonial-text">{{ currentTestimonial.content }}</p>
      </div>
      <div class="testimonial-author">
        <div class="author-avatar">
          <img [src]="currentTestimonial.avatar" [alt]="currentTestimonial.name" 
               (error)="onImageError($event)" 
               [style.display]="imageLoaded ? 'block' : 'none'">
          <div class="avatar-fallback" [style.display]="!imageLoaded ? 'flex' : 'none'">
            {{ currentTestimonial.name.charAt(0) }}
          </div>
        </div>
        <div class="author-info">
          <h4 class="author-name">{{ currentTestimonial.name }}</h4>
          <p class="author-role">{{ currentTestimonial.role }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
